spring:
  application:
    name: loopin-backend
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:file:./data/testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000

jwt:
  key: 7b455ca1eb61dabeefdf833d58563a0a88c45473df53c010f841a36edb30f4a8
  access-token-validity: 86400000   # 1일
  refresh-token-validity: 604800000 # 7일

logging:
  level:
    root: INFO
    com.yourcompany.loopin: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
